<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.puterabaritoinnovation.ojekinmarabahan">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Detail60Activity"></activity>
        <activity android:name=".Detail59Activity" />
        <activity android:name=".Detail58Activity" />
        <activity android:name=".Detail57Activity" />
        <activity android:name=".Detail56Activity" />
        <activity android:name=".Detail55Activity" />
        <activity android:name=".Detail54Activity" />
        <activity android:name=".Detail53Activity" />
        <activity android:name=".Detail52Activity" />
        <activity android:name=".Detail51Activity" />
        <activity android:name=".Store60Activity" />
        <activity android:name=".Store59Activity" />
        <activity android:name=".Store58Activity" />
        <activity android:name=".Store57Activity" />
        <activity android:name=".Store56Activity" />
        <activity android:name=".Store55Activity" />
        <activity android:name=".Store54Activity" />
        <activity android:name=".Store53Activity" />
        <activity android:name=".Store52Activity" />
        <activity android:name=".Store51Activity" />
        <activity android:name=".ADriverNewOrderActivity" />
        <activity android:name=".DriverCekOrderActivity" />
        <activity android:name=".KeranjangActivity" />
        <activity android:name=".ConfirmFinalOrderActivity" />
        <activity android:name=".AdminUserProductsActivity" />
        <activity android:name=".AdminNewOrderActivity" />
        <activity android:name=".Menu50Activity" />
        <activity android:name=".Menu49Activity" />
        <activity android:name=".Menu48Activity" />
        <activity android:name=".Menu47Activity" />
        <activity android:name=".Menu46Activity" />
        <activity android:name=".Menu44Activity" />
        <activity android:name=".Menu45Activity" />
        <activity android:name=".Menu43Activity" />
        <activity android:name=".Menu42Activity" />
        <activity android:name=".Menu41Activity" />
        <activity android:name=".Menu40Activity" />
        <activity android:name=".Menu39Activity" />
        <activity android:name=".Menu38Activity" />
        <activity android:name=".Menu37Activity" />
        <activity android:name=".Menu36Activity" />
        <activity android:name=".Menu35Activity" />
        <activity android:name=".Menu34Activity" />
        <activity android:name=".Menu33Activity" />
        <activity android:name=".Menu32Activity" />
        <activity android:name=".Menu31Activity" />
        <activity android:name=".Menu30Activity" />
        <activity android:name=".Menu29Activity" />
        <activity android:name=".Menu28Activity" />
        <activity android:name=".Menu27Activity" />
        <activity android:name=".Menu26Activity" />
        <activity android:name=".Menu25Activity" />
        <activity android:name=".Menu24Activity" />
        <activity android:name=".Menu23Activity" />
        <activity android:name=".Menu22Activity" />
        <activity android:name=".Menu21Activity" />
        <activity android:name=".Menu20Activity" />
        <activity android:name=".Menu19Activity" />
        <activity android:name=".Menu18Activity" />
        <activity android:name=".Menu17Activity" />
        <activity android:name=".Menu16Activity" />
        <activity android:name=".Menu15Activity" />
        <activity android:name=".Menu14Activity" />
        <activity android:name=".Menu13Activity" />
        <activity android:name=".Menu12Activity" />
        <activity android:name=".Menu11Activity" />
        <activity android:name=".Menu10Activity" />
        <activity android:name=".Menu9Activity" />
        <activity android:name=".Menu8Activity" />
        <activity android:name=".Menu7Activity" />
        <activity android:name=".Menu6Activity" />
        <activity android:name=".Menu5Activity" />
        <activity android:name=".Menu4Activity" />
        <activity android:name=".Menu3Activity" />
        <activity android:name=".Menu2Activity" />
        <activity android:name=".Detail50Activity" />
        <activity android:name=".Detail49Activity" />
        <activity android:name=".Detail48Activity" />
        <activity android:name=".Detail47Activity" />
        <activity android:name=".Detail43Activity" />
        <activity android:name=".Detail46Activity" />
        <activity android:name=".Detail45Activity" />
        <activity android:name=".Detail44Activity" />
        <activity android:name=".Detail42Activity" />
        <activity android:name=".Detail41Activity" />
        <activity android:name=".Detail40Activity" />
        <activity android:name=".Detail39Activity" />
        <activity android:name=".Detail38Activity" />
        <activity android:name=".Detail37Activity" />
        <activity android:name=".Detail36Activity" />
        <activity android:name=".Detail35Activity" />
        <activity android:name=".Detail34Activity" />
        <activity android:name=".Detail33Activity" />
        <activity android:name=".Detail32Activity" />
        <activity android:name=".Detail31Activity" />
        <activity android:name=".Detail30Activity" />
        <activity android:name=".Detail29Activity" />
        <activity android:name=".Detail28Activity" />
        <activity android:name=".Detail27Activity" />
        <activity android:name=".Detail26Activity" />
        <activity android:name=".Detail25Activity" />
        <activity android:name=".Detail24Activity" />
        <activity android:name=".Detail23Activity" />
        <activity android:name=".Detail22Activity" />
        <activity android:name=".Detail21Activity" />
        <activity android:name=".Detail20Activity" />
        <activity android:name=".Detail19Activity" />
        <activity android:name=".Detail18Activity" />
        <activity android:name=".Detail17Activity" />
        <activity android:name=".Detail16Activity" />
        <activity android:name=".Detail15Activity" />
        <activity android:name=".Detail14Activity" />
        <activity android:name=".Detail13Activity" />
        <activity android:name=".Detail12Activity" />
        <activity android:name=".Detail11Activity" />
        <activity android:name=".Detail10Activity" />
        <activity android:name=".Detail9Activity" />
        <activity android:name=".Detail8Activity" />
        <activity android:name=".Detail7Activity" />
        <activity android:name=".Detail6Activity" />
        <activity android:name=".Detail5Activity" />
        <activity android:name=".Detail4Activity" />
        <activity android:name=".Detail3Activity" />
        <activity android:name=".Detail2Activity" />
        <activity android:name=".Store50Activity" />
        <activity android:name=".Store49Activity" />
        <activity android:name=".Store48Activity" />
        <activity android:name=".Store47Activity" />
        <activity android:name=".Store46Activity" />
        <activity android:name=".Store45Activity" />
        <activity android:name=".Store44Activity" />
        <activity android:name=".Store43Activity" />
        <activity android:name=".Store42Activity" />
        <activity android:name=".Store41Activity" />
        <activity android:name=".Store40Activity" />
        <activity android:name=".Store39Activity" />
        <activity android:name=".Store38Activity" />
        <activity android:name=".Store37Activity" />
        <activity android:name=".Store36Activity" />
        <activity android:name=".Store35Activity" />
        <activity android:name=".Store34Activity" />
        <activity android:name=".Store33Activity" />
        <activity android:name=".Store32Activity" />
        <activity android:name=".Store31Activity" />
        <activity android:name=".Store30Activity" />
        <activity android:name=".Store29Activity" />
        <activity android:name=".Store28Activity" />
        <activity android:name=".Store27Activity" />
        <activity android:name=".Store26Activity" />
        <activity android:name=".Store25Activity" />
        <activity android:name=".Store24Activity" />
        <activity android:name=".Store23Activity" />
        <activity android:name=".Store22Activity" />
        <activity android:name=".Store21Activity" />
        <activity android:name=".Store20Activity" />
        <activity android:name=".Store19Activity" />
        <activity android:name=".Store18Activity" />
        <activity android:name=".Store17Activity" />
        <activity android:name=".Store16Activity" />
        <activity android:name=".Store15Activity" />
        <activity android:name=".Store14Activity" />
        <activity android:name=".Store13Activity" />
        <activity android:name=".Store12Activity" />
        <activity android:name=".Store11Activity" />
        <activity android:name=".Store10Activity" />
        <activity android:name=".Store9Activity" />
        <activity android:name=".Store8Activity" />
        <activity android:name=".Store7Activity" />
        <activity android:name=".Store6Activity" />
        <activity android:name=".Store5Activity" />
        <activity android:name=".Store4Activity" />
        <activity android:name=".Store3Activity" />
        <activity android:name=".Store2Activity" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyD7758gLFpsBpIdziltjf_fU4WlYRHvwWk" />

        <activity android:name=".Store1MenuActivity" />
        <activity android:name=".DistanceActivity" />
        <activity android:name=".ProductDetailsActivity" />
        <activity android:name=".Store1Activity" />
        <activity android:name=".LoginActivity" />
        <activity android:name=".GetStartedActivity" />
        <activity android:name=".RegisterActivity" />
        <activity android:name=".AdminAddNewProductActivity" />
        <activity android:name=".AdminStoreActivity" />
        <activity android:name=".ServiceActivity" />
        <activity android:name=".KurirActivity" />
        <activity android:name=".StoreActivity" />
        <activity android:name=".HomeActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>